In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../00_data/0_raw/child-mortality-igme.csv")
df.head()

,Entity,Code,Year,"Child mortality rate of children aged under five years, per 100 live births"
0,Afghanistan,AFG,1957,37.132380
1,Afghanistan,AFG,1958,36.523033
2,Afghanistan,AFG,1959,35.951195
3,Afghanistan,AFG,1960,35.316550
4,Afghanistan,AFG,1961,34.760840

In [7]:
df.tail()

,Entity,Code,Year,"Child mortality rate of children aged under five years, per 100 live births"
13695,Zimbabwe,ZWE,2019,5.106257
13696,Zimbabwe,ZWE,2020,5.008332
13697,Zimbabwe,ZWE,2021,4.762061
13698,Zimbabwe,ZWE,2022,4.598586
13699,Zimbabwe,ZWE,2023,4.421201